/*         header        */
.header {
    background-color:var(--background-color);
    border-bottom: 1px solid var(--border-line-heder);
}
.header-link-logo {
    display: flex;
    align-items: center;
    color: var(--text-color-zag);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}
.header-span {
    color: var(--accent-color);
}
.header-link {
    color: var(--text-color-zag); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &.current {
        color: var(--accent-color);
    }
    & {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.header-link.acctive::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.header-link-contakt {
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.header-point {
    list-style: none;
}
.header-containers {
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.header-nav {
    display: flex; 
}
.header-auth {
    display: flex; 
    justify-content: center;
}
.header-site-nav {
    display: flex; 
    & .header-point + .header-point {
        margin-left: 50px;
    }
}
.header-auth {
    margin-left: auto;
    & .header-point.indent {
        margin-left: 50px;
    }
}
.header-link-contakt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
.header-acon {
    margin-right: 10px;
}
.iconhw {
    height: 12px;
    width: 16px;
}
.iconhwtwo {
    height: 16px;
    width: 10px;
}
.header-link-contakt {
fill: var(--primary-text-color);
    &:hover,
    &:focus {
    fill:var(--accent-color);
    }
}
